/* // sets */

/* $gl-ms         : "screen and (max-width: 23.5em)";   
$gl-xs         : "screen and (max-width: 35.5em)"; 
$gl-sm         : "screen and (max-width: 48em)";    
$gl-md         : "screen and (max-width: 64em)";   
$gl-lg         : "screen and (max-width: 80em)";    */

 
body{
	/* background: url("pics/taxi2.jpg");
	background-size: cover;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
  max-width: 1920px;
  min-height: 100vh;
  display: grid; */
  /* font:400 14px 'Calibri','Arial';
  padding:20px; */
  /* max-width: 4000px; */
  /* min-height: 50vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: var(--font-family);
  color: var(--dark-color);
  background: var(--bg-gradient);
  background-image: url("pics/taxi2.jpg");
  background-color:antiquewhite; */

  margin: 0;
	background: linear-gradient(45deg, #49a09d, #c2d914);
	font-family: sans-serif;
	font-weight: 100;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}


table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  /* max: width 8000px;  */
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:60px;
    background:#FFED86;
    font-size:16px;
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


/* @media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"Code";}
        &:nth-child(2):before { content:"Stock";}
        &:nth-child(3):before { content:"Cap";}
        &:nth-child(4):before { content:"Inch";}
        &:nth-child(5):before { content:"Box Type";}
      }        
    }
  }
}  	 */



 


blockquote {
  color:white;
  text-align:center;
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #c2d914);
	font-family: sans-serif;
	font-weight: 100;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0);
	color: #0a0101;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}